.main_price{
    display: flex;
    width: 100vw;
    /* height: 30rem; */
    padding: 2rem;

}

.left_price{
    width: 55%;
    height: 31rem;
    background-image: url('../assets//o1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    margin-right: 1rem;

}

.left_price h1{
    font-size: 3rem;
    color: white;
    padding-bottom: 1rem;
}

.left_price button{
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    background: none;
    color: #fd9c63;
    border: 1px solid #fd9c63;
    border-radius: 0.2rem;
    cursor: pointer;
}

.left_price button:hover{
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    background: none;
    background-color: #fd9c63;
    color: white;
    transition: background-color 0.2s ease-in;
    border-radius: 0.2rem;
    cursor: pointer;
}

.right_price{
    background-image: url('../assets/o2.jpg');
    width: 100%;
    height: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
   
}

.right_price h1{
    font-size: 2rem;
    color: white;
    padding-bottom: 1rem;
}

.right_price button{
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    background: none;
    color: #fd9c63;
    border: 1px solid #fd9c63;
    border-radius: 0.2rem;
    cursor: pointer;
}

.right_price button:hover{
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    background: none;
    background-color: #fd9c63;
    color: white;
    transition: background-color 0.2s ease-in;
    border-radius: 0.2rem;
    cursor: pointer;
}

.right1_price{
    background-image: url('../assets/o3.jpg');
    width: 100%;
    height: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.right1_price h1{
    font-size: 2rem;
    color: white;
    padding-bottom: 1rem;
}

.right1_price button{
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    background: none;
    color: #fd9c63;
    border: 1px solid #fd9c63;
    border-radius: 0.2rem;
    cursor: pointer;
}

.right1_price button:hover{
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    background: none;
    background-color: #fd9c63;
    color: white;
    transition: background-color 0.2s ease-in;
    border-radius: 0.2rem;
    cursor: pointer;
}

.main_right{
    width: 50%;
}
